<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    <style>
        .btn{
            border-radius: 100px;
            border-style: solid;
            border-color: aliceblue;
        }
    </style>
</head>
<body>
<p th:text="${person.getSurName() + ', ' +  person.getYear()}"/>

<div th:if="${books.isEmpty()}">
    <p>Person has not book</p>
    <hr>
</div>

<div th:if="${!books.isEmpty()}">
<b>Books:</b>
    <ul th:each="b : ${books}">
        <li th:text="${b.getName() + ',' + b.getAuthor() + ' ' + b.getYear_of_product()}"></li>
    </ul>
</div>

<form th:method="GET" th:action="@{/people/edit/{id} (id=${person.getId()})}">
    <input type="submit" value="Edit" class="btn">
</form>

<form th:method="DELETE" th:action="@{/people/{id} (id=${person.getId()})}">
    <input type="submit" value="Delete" class="btn">
</form>
</body>
</html>