<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .btn{
            border-radius: 100px;
            border-style: solid;
            border-color: aliceblue;
        }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    Enter title: <input type="text" th:field="*{name}"/>
    <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
    <br>
    Enter author: <input type="text" th:field="*{author}"/>
    <p style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"/>
    <br>
    Enter year_of_book: <input type="text" th:field="*{year}"/>
    <p style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"/>
    <br>
    <input type="submit" value="Add" class="btn">
</form>
</body>
</html>