<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Book</title>
</head>
<body>
All Books:
<br>
<ul th:each="b : ${books}">
    <li>
        <a th:href="@{/books/{id} (id=${b.getId()})}" th:text="${b.getName() + ','
         + b.getAuthor() + ' ' + b.getYear()}"/>
    </li>
</ul>
<hr>
<a th:href="@{/books/new}">Add book</a>
<br>
<a th:href="@{/}">main page</a>
<br><br>
<a th:href="@{/books?sort_by_year=true}"/>Sort book by year
<br><br>
<a th:href="@{/books/search}"/>Search books
</body>
</html>